.footer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5vw;
    background-color: #262C3A;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    padding: 1vw;
    bottom: 0;
}

.footer ul {
    display: flex;
    list-style-type: none;
    gap: 2vw;

}

.footer li {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    color: #D9DFED;
    font-size: 1vw;
}

.footer li::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #D9DFED;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.5s ease;
}

.footer li:hover::after {
    opacity: 1;
    bottom: 10px;
}

.imageLogo {
    cursor: pointer;
}

.containerLogo {
    color: #eceff7;
    padding: 0.6vw;
    font-weight: bold;
    cursor: pointer;
    font-size: 1vw;
}

