.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262C3A;
    color: rgb(0, 0, 0);
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: fixed;
    top: 0;
    padding: 0.8vw;
}

.navbar.hidden {
    background-color: rgba(141, 151, 161, 0.175);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2vw;
}

.navbar li {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #D9DFED;
    font-size: 1vw;
}

.navbar li:hover::after {
    opacity: 1;
    bottom: -10px;
}

.navbar li::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #D9DFED;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.5s ease;
    ;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageLogo{
    cursor: pointer;
}

.containerLogo{
    width: 10vw;
    text-align: center;
    border: 5px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1vw;
}

.containerHamburguerMenu {
    cursor: pointer;
    margin: 5px;
    padding: 2px 8px;
    transition: background-color 0.3s ease;
}

.containerHamburguerMenu:hover {
    background-color: #94949487;
}

.menuDeployedHamburguer{
    display: flex;
    flex-direction: column;
}