@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grotesk {
  font-family: 'SpaceGrotesk', serif;
}

@font-face {
    font-family: 'Messi';
    src: url('../public/fonts/terminator\ real\ nfi.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../public/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}